<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbSeed.logPath" value="c:\_TestPipe\Test\Reports\"/>
		<add key="dbSeed.scriptPath" value="C:\_TestPipe\source\tests\TestPipe.Data.Dto.TestPipe\Data\Scripts\"/>
		<add key="dbSeed.dbList" value="TestPipe" />
		<add key="dbSeed.prefix" value="QA" />
		<add key="dataSeed.command.buildDb" value="builddb.bat QA (local)"/>
	</appSettings>

  <connectionStrings>
    <add name="TestPipe" connectionString="Data Source=localhost;Initial Catalog=QA_TestPipe;User Id=www;
Password=www;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>