<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="browser.plugins" value="c:\_Automation\Test\Plugins\Browsers\" />
		<add key="browserTest" value="false" />
		<add key="test.suites" value="all" />
		<add key="test.features" value="all" />
		<add key="test.scenarios" value="all" />
		<add key="file.testSuite" value="Suite_Google.json" />
		<add key="file.basePath" value="C:\_Automation\Test\source\tests\TestPipe.Specs\Data\" />
		<add key="htmlsite" value="http://localhost/testpipe.testsite/" />
	</appSettings>
  <connectionStrings>
    <add name="TestPipe" connectionString="Data Source=localhost;Initial Catalog=TestPipe;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
