<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	</configSections>
	<appSettings>
		<add key="browser.plugins" value="C:\_TestPipe\Plugins\Browsers\" />
		<add key="test.suites" value="all" />
		<add key="test.features" value="all" />
		<add key="test.scenarios" value="all" />
		<add key="file.testSuite" value="TestSuite.xml" />
		<add key="file.basePath" value="C:\_TestPipe\source\demo\TestPipe.Demo.Specs\Data\" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<specFlow>
		<!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
		<unitTestProvider name="NUnit" />
		<stepAssemblies>
			<stepAssembly assembly="TestPipe.SpecFlow" />
		</stepAssemblies>
	</specFlow>
</configuration>