<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net451" />
  <package id="Selenium.Support" version="2.44.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="2.44.0" targetFramework="net451" />
  <package id="Selenium.WebDriver.IEDriver" version="2.45.0.1" targetFramework="net451" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />
  <package id="StyleCop" version="4.7.49.0" targetFramework="net451" />
  <package id="StyleCop.MSBuild" version="4.7.49.0" targetFramework="net451" developmentDependency="true" />
  <package id="WebDriver.ChromeDriver.win32" version="2.12.0.0" targetFramework="net451" />
</packages>